
include includes/mixins
include includes/head
include includes/header
include includes/content
include includes/scripts
include includes/footer

doctype html
html(lang="ru")
    head
        +head()
    body
        // Шапка сайта
        +header()
        //

        // svg
        include blocks/svg.html
        //

        .content
            +content()


        footer
            // Футер
            +footer()
            //


        +scripts()


