mixin blocks()
   .main-content.js-container
      .main-content__item.item.js-item.culture
         .main-content__item__image(style="background-image: url(../img/cuba.jpg)")
            p  Cuba
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Cuba
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Cuba
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Cuba

      .main-content__item.item.js-item.culture
         .main-content__item__image(style="background-image: url(../img/russia.jpg)")
            p  Russia
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Russia
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Russia
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Russia

      .main-content__item.item.two(style="background-image: url(../img/latin.jpg)")
         p.title  Latin America
         ol
            li Honduras
            li Columbia
            li Panama
            li Brazil
            li Peru

      .main-content__item.item.js-item.culture
         .main-content__item__image(style="background-image: url(../img/england.jpg)")
            p  England
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   England
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   England
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   England

      .main-content__item.item.js-item.extreme
         .main-content__item__image(style="background-image: url(../img/norway.jpg)")
            p  Norway
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Norway
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Norway
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Norway

      .main-content__item.item.js-item.extreme
         .main-content__item__image(style="background-image: url(../img/switzerland.jpg)")
            p  Switzerland
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Switzerland
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Switzerland
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Switzerland

      .main-content__item.item.js-item.culture.extreme
         .main-content__item__image(style="background-image: url(../img/china.jpg)")
            p  China
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   China
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   China
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   China

      .main-content__item.item.js-item.culture
         .main-content__item__image(style="background-image: url(../img/germany.jpg)")
            p  Germany
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Germany
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Germany
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Germany

      .main-content__item.item.js-item.culture
         .main-content__item__image(style="background-image: url(../img/japan.jpg)")
            p  Japan
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Japan
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Japan
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Japan

      .main-content__item.item.js-item.atmosphere
         .main-content__item__image(style="background-image: url(../img/australia.jpg)")
            p  Australia
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Australia
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Australia
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Australia

      .main-content__item.item.js-item.culture.people
         .main-content__item__image(style="background-image: url(../img/india.jpg)")
            p  India
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   India
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   India
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   India

      .main-content__item.item.js-item.atmosphere
         .main-content__item__image(style="background-image: url(../img/finland.jpg)")
            p  Finland
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   Finland
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   Finland
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   Finland

      .main-content__item.item.js-item.people
         .main-content__item__image(style="background-image: url(../img/new-zealand.jpg)")
            p  New Zealand
         .main-content__item__text
            .padding-block
               p.description  Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
               p.land   New Zealand
         .main-content__item__image-view(style="background-image: url(../img/cuba-view.jpg)")
            a( class="js-fancybox" href="../img/cuba-view.jpg")
               +svg('icon_zoom')
            p.land   New Zealand
         .main-content__item__video(style="background-image: url(../img/cuba-video.jpg)")
            a(href="http://www.youtube.com/watch?v=opj24KnzrWo").js-fancybox-video
               +svg('icon_play')
            p.title.js-play   New Zealand