mixin footer()
   .copyright
      p  © 2013 - 2015
   .developer
      p  Здесь наследили
         = ' '
         a( target="_blank" href="javascript:void(0)" )
            | CreativePeople
            +svg('cp_logo')