mixin head()
   title Главная
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
   meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
   meta(content="telephone=no" name="format-detection")
   meta(name="format-detection" content="telephone=no")
   link(rel="stylesheet" href="../css/normalize.css")
   link(rel="stylesheet" href="../css/libs/slick/slick.min.css")
   link(rel="stylesheet" href="../css/libs/fancybox/jquery.fancybox.css")
   link(rel="stylesheet" href="../css/style.css")
   script(src="../js/modernizr.custom.js")
   script(src="https://www.youtube.com/iframe_api")
