- var menu = {'Все страны': 'all', 'Культура': 'culture','экстрим' : 'extreme', 'атмосфера': 'atmosphere','Люди' : 'people'}

mixin menu()
    nav.menu
        ul
            each val, key in menu
                if val=='all'
                    li.active.js-link
                        a(href="javascript:void(0)", data-link=val)= key
                else
                    li.js-link
                        a(href="javascript:void(0)", data-link=val)= key