mixin scripts()
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(type='text/javascript') window.jQuery || document.write('<script src="../js/jquery-2.1.4.min.js"><\/script>')
    script(src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.js")
    script(src="../js/libs/slick/slick.min.js")
    script(src="../js/libs/fancybox/jquery.fancybox.pack.js")
    script(src="../js/libs/fancybox/jquery.fancybox-media.js")
    script(src="../js/libs/lazyload/jquery.lazyload.min.js")
    script(src="../js/script.js")